body {

    background-color: aqua;
    background-image: url(/img/imganes.jpg);
    background-size: auto;
    background-repeat: repeat;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    background-color: rgb(122, 243, 132);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-radius: 50px;
    margin-bottom: 30px;

}

h2 {
    text-align: center;
    background-color: rgb(122, 243, 132);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    margin-top: 30px;
}

nav {
    background-color: rgb(122, 243, 132);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    display: inline;
}

main {
    border-radius: 40px;
    background-color: white;

}

header {

    background-color: rgb(122, 243, 132);
    border-radius: 40px;
    color: white;
    text-align: center;
    align-items: center;
    padding-bottom: 40px;
}

ul {
    color: rgb(147, 245, 138);
    margin-left: 150px;
    margin: 0 auto;
    /*centraliza os elemento na horizontal*/
}

li {
    color: black;
}

footer {

    border-radius: 100px;
    background-color: rgb(125, 255, 113);
    text-align: center;
    color: rgb(9, 255, 0);

}

#inscricao {

    background-color: rgb(255, 255, 255);
    text-align: center;
    border-style: solid;
}

footer a:hover {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: rgb(12, 12, 6);
    border-radius: 30px;
    font-weight: 900;


}

p {
    color: rgb(0, 0, 0);
    text-align: center;

    background-color: rgb(170, 253, 102);
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('background.jpg');
}

nav li:hover {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border-style: solid;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
    border-radius: 30px;
    font-weight: 900;
    padding-left: 20px;
    padding-right: 20px;


}

nav ul li {
    color: (122, 243, 132);
    margin-right: 150px;

}

a {
    display: inline;
    text-align: center;


}

section a {

    background-color: rgb(141, 255, 88);
    text-align: center;
}

section form {
    margin-left: 575px;
}

section button {
    margin-left: 10px;
    justify-content:center;
    display: inline;
}

section article {
    text-align: center;
}

section img {
    border-radius: 10px;
    border-style: solid;
}

header nav ul {
    margin-left: 100px;
}

div p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

button {
    cursor: pointer;
    background-color: rgb(9, 255, 0);
    border: none;
    border-radius: 40px;
    font-weight: bold;
    transition: 0.3s;
    border-style: 40px;
    align-items: flex-end;
    height: 50px;
    margin-bottom:50px;
    display: inline;
    justify-content: baseline;
     }

button:hover {
    background-color: green;
    transform: scale(1.05);
    border-radius: 40px;

}

section {
    margin-bottom: 50px
    margin-top: 50px;
}

h2 {
    margin-bottom: 50px;
    margin-top: 50px;
}

#div {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 30px;
    border-style: solid;
}

div p {
    background-color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div section a:hover {
    text-align: center;

    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: rgb(12, 12, 6);
    border-radius: 30px;
    font-weight: 500;
    display: inline;


}

header h1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 245, 102);
}

nav li {
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}

#grid {
    border-radius: 10px;
    margin-bottom: 60px;

    margin-top: 60px;
}

article:hover {
    border-style: double;
    text-align: center;
    justify-content: center;
    background-color: rgb(122, 243, 132);
    font-size: 20px;
    border-style: solid;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-weight: 800;
    align-items: none;
}




article {
    border-style: double;
    margin-bottom: 10px;
    margin-top: 10px;
}

